<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-842">
    <!--Wave grpahic - On the section above the footer, add padding-bottom: 14vw to the section container ID so it pushes down enough for the wave to not overlap its content and the vw unit will make the padding value grow with the screen width to account for the wave getting taller as it gets wider. Change the path fill color to whatever background color the footer is so it matches-->
    <svg class="cs-wave" width="1920" height="188" viewBox="0 0 1920 188" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path d="M1920 45.8671C1835.33 45.8671 1715.47 60.6671 1549.2 104.534C1115.6 218.4 932.267 0.000366211 466.533 0.000366211C218.933 0.000366211 172.8 45.8671 0.133333 45.8671L0 187.934H1920V45.8671Z" fill="#1A1A1A"/>
    </svg>
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/logo-white.png" | webp %}" alt="logo" alt="logo" width="240" height="32">
            </a>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Quick Links</span>
            <ul class="cs-ul cs-ul-1">
                <li class="cs-li">
                    <a class="cs-link" href="">Home</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Service</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Pricing</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">About</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Events</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Blog</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Contact</a>
                </li>
            </ul>
        </div>
        <div class="cs-ul-wrapper">
            <!-- Contact Info -->
            <span class="cs-header">Contact Information</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <!--Make this link go to the google page-->
                    <a class="cs-link" href="" target="_blank">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fclock-grey.svg" alt="clock icon" width="20" height="20">
                        M-F 8am – 5:30pm
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="tel:555-497-1900">
                        <img class="cs-contact-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fphone-grey.svg" alt="phone icon" width="20" height="20">
                        828-989-1290
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="mailto:sam@eskerdesigns.com">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fmessage-grey.svg" alt="email icon" width="20" height="20">
                        sam@eskerdesigns.com
                    </a>
                </li>
                <li class="cs-li">
                    <!--Make this link go to the google page-->
                    <a class="cs-link" href="" target="_blank">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpin-grey.svg" alt="pin icon" width="20" height="20">
                        70 Lenord Lane, Warren VT
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2023 <a href="" class="cs-credit-link" target="_blank">Esker Designs</a>
        </span>
        <!-- <div class="cs-bottom-links">
            <a href="" class="cs-bottom-link">Privacy Policy</a>
            <a href="" class="cs-bottom-link">Terms Of Use</a>
        </div> -->
    </div>
</footer>
                                