<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <!--Logo is turned white in the css with a filter on dark mode-->
        <a href="/" class="cs-logo" aria-label="back to home">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/logo.webp" | resize({ width: 50, height: 50}) | webp %}">
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/logo.webp" | resize({ width: 75, height: 75}) | webp %}">
                <img decoding="async" src="{% getUrl "/assets/images/logo.webp" | resize({ width: 75, height: 75}) | webp %}" alt="logo" width="400" height="auto" aria-hidden="true" decoding="async">
            </picture>
        </a>
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link {% if page.url == '/' %} cs-active {% endif %}">
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/service/" class="cs-li-link {% if page.url == '/service/' %} cs-active {% endif %}">
                            Service
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/pricing/" class="cs-li-link {% if page.url == '/pricing/' %} cs-active {% endif %}">
                            Pricing
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/about/" class="cs-li-link {% if page.url == '/about/' %} cs-active {% endif %}">
                            About
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/blog/" class="cs-li-link {% if page.url == '/blog/' %} cs-active {% endif %}">
                            Blog
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/contact/" class="cs-li-link {% if page.url == '/contact/' %} cs-active {% endif %}">
                            Contact
                        </a>
                    </li>
                    <!--Copy and paste this cs-dropdown list item and replace any .cs-li with this cs-dropdown group to make a new dropdown and it will work-->
                    <li class="cs-li cs-dropdown" tabindex="0">
                        <span class="cs-li-link cs-dropdown-toggle">
                            Locations
                            <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                        </span>
                        <ul class="cs-drop-ul">
                            <li class="cs-drop-li cs-drop3-main">
                                <span class="cs-li-link cs-drop-link ">
                                    Vermont
                                    <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                                </span>
                                <!--Tertiary-->
                                <ul class="cs-drop3">
                                    <li class="cs-drop-li3">
                                        <a href="/burlington/small-business-web-design/" class="cs-li-link cs-drop-link cs-drop-link3">Burlington</a>
                                    </li>
                                    <li class="cs-drop-li3">
                                        <a href="/montpelier/small-business-web-design/" class="cs-li-link cs-drop-link cs-drop-link3">Montpelier</a>
                                    </li>
                                    <li class="cs-drop-li3">
                                        <a href="/waterbury/small-business-web-design/" class="cs-li-link cs-drop-link cs-drop-link3">Waterbury</a>
                                    </li>
                                    <li class="cs-drop-li3">
                                        <a href="/essex/small-business-web-design/" class="cs-li-link cs-drop-link cs-drop-link3">Essex</a>
                                    </li>
                                    <li class="cs-drop-li3">
                                        <a href="/colchester/small-business-web-design/" class="cs-li-link cs-drop-link cs-drop-link3">Colchester</a>
                                    </li>
                                    <li class="cs-drop-li3">
                                        <a href="/stowe/small-business-web-design/" class="cs-li-link cs-drop-link cs-drop-link3">Stowe</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- <li class="cs-drop-li cs-drop3-main">
                                <span class="cs-li-link cs-drop-link">
                                    New Hampshire
                                    <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                                </span>
                                <ul class="cs-drop3">
                                    <li class="cs-drop-li3">
                                        <a href="" class="cs-li-link cs-drop-link cs-drop-link3">Los Angeles</a>
                                    </li>
                                    <li class="cs-drop-li3">
                                        <a href="" class="cs-li-link cs-drop-link cs-drop-link3">Orange County</a>
                                    </li>
                                </ul>
                            </li> -->
                        </ul>
                    </li>
                </ul>
            </div>
            <a href="/contact/" data-umami-event="Header CTA" class="cs-button-solid">Get a Quote</a>
        </nav>
        <!--Dark Mode toggle, uncomment button code if you want to enable a dark mode toggle-->
        <button id="dark-mode-toggle" data-umami-event="Dark Mode Toggle" aria-label="dark mode toggle">
            <div class="toggle-wrapper">
                <div class="toggle-slider">
                    <svg class="cs-moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480"><path d="M459.782 347.328c-4.288-5.28-11.488-7.232-17.824-4.96-17.76 6.368-37.024 9.632-57.312 9.632-97.056 0-176-78.976-176-176 0-58.4 28.832-112.768 77.12-145.472 5.472-3.712 8.096-10.4 6.624-16.832S285.638 2.4 279.078 1.44C271.59.352 264.134 0 256.646 0c-132.352 0-240 107.648-240 240s107.648 240 240 240c84 0 160.416-42.688 204.352-114.176 3.552-5.792 3.04-13.184-1.216-18.496z"/></svg>
                    <img class="cs-sun" aria-hidden="true" src="/assets/svgs/sun.svg" alt="sun" width="15" height="15">
                </div>
            </div>
        </button>
    </div>
</header>
                                
                                