<!-- ============================================ -->
<!--              Newsletter Popup                -->
<!-- ============================================ -->
<div id="newsletter-popup-overlay" class="cs-popup-overlay">
    <section id="cta-1612">
        <button class="cs-close" aria-label="Close popup">&times;</button>
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Want to hear more?</span>
                <h2 class="cs-title">Enter Your Email to Join Our Newsletter</h2>
                <p class="cs-text">
                    In each newsletter, we share about how to help your business make the most of it's website. The best part is, it's all <strong>free</strong>.
                </p>
                <form class="cs-form" id="newsletter-form" name="Contact Form" netlify>
                    <input class="cs-input" type="email" id="cs-email-302-1612" name="email" placeholder="Email Address" required>
                    <button class="cs-button-solid cs-submit" type="submit">Subscribe Now</button>
                </form>
            </div>
        </div>
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/underwater.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/underwater.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/underwater.jpg" alt="water" width="1920" height="486" aria-hidden="true">
        </picture>
    </section>
</div>