<!-- A fully fleshed-out <head>, dynamically changing based on client.json and the page front matter -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Standard meta tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="">
        <link rel="canonical" href="{{ client.domain }}{{ page.url }}">

        <!--Social Media Display-->
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{ client.domain }}{{ page.url }}"/>
        <meta property="og:image" content="/assets/images/logo.webp"/>
        <meta property="og:image:secure_url" content="/assets/images/logo.webp"/>

        <!--Favicons-->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png?v1">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicons/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!-- Preloads -->
        <link rel="preload" as="image" href="/assets/svgs/logo.webp">
        <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/inter-v18-latin-900.woff2" crossorigin>
        <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/poppins-v22-latin-regular.woff2" crossorigin>

        <!-- Preload an image - tag not rendered if preloadImg is blank to stop console errors -->
        {% if preloadImg != '' %}
            <link rel="preload" as="image" href="{{ preloadImg }}"/>
        {% endif %}

        <!-- Sitewide Stylesheets and Scripts -->
        <link rel="stylesheet" href="/assets/css/root.css">
        <link rel="stylesheet" href="/assets/css/dark.css">
        <script defer src="/assets/js/dark.js"></script>
        <script defer src="/assets/js/nav.js"></script>
        <script defer src="/assets/js/newsletter.js"></script>


        <script nowprocket nitro-exclude type="text/javascript" id="sa-dynamic-optimization" data-uuid="df283368-ccc3-4c37-8ba4-a13bfd65a289" src="data:text/javascript;base64,dmFyIHNjcmlwdCA9IGRvY3VtZW50LmNyZWF0ZUVsZW1lbnQoInNjcmlwdCIpO3NjcmlwdC5zZXRBdHRyaWJ1dGUoIm5vd3Byb2NrZXQiLCAiIik7c2NyaXB0LnNldEF0dHJpYnV0ZSgibml0cm8tZXhjbHVkZSIsICIiKTtzY3JpcHQuc3JjID0gImh0dHBzOi8vZGFzaGJvYXJkLnNlYXJjaGF0bGFzLmNvbS9zY3JpcHRzL2R5bmFtaWNfb3B0aW1pemF0aW9uLmpzIjtzY3JpcHQuZGF0YXNldC51dWlkID0gImRmMjgzMzY4LWNjYzMtNGMzNy04YmE0LWExM2JmZDY1YTI4OSI7c2NyaXB0LmlkID0gInNhLWR5bmFtaWMtb3B0aW1pemF0aW9uLWxvYWRlciI7ZG9jdW1lbnQuaGVhZC5hcHBlbmRDaGlsZChzY3JpcHQpOw=="></script>

        {% block head %}{% endblock %}

        <title>{{ title }}</title>
    </head>
    <body>
        <!--Screen reader skip main nav-->
        <a class="skip" aria-label="skip to main content" href="#main" tabindex="0">Click To Skip To Main Content</a>

        {% include "components/header.html" %}
        <main id="main">
            {% block body %}{% endblock %}
        </main>
        {% include "components/newsletter.html" %}
        {% include "components/footer.html" %}

        <!-- Google Analytics load on scroll -->
        <script>
            function analyticsOnScroll() {
                var head = document.getElementsByTagName('head')[0]
                var script = document.createElement('script')
                script.type = 'text/javascript';
                script.src = 'https://www.googletagmanager.com/gtag/js?id=G-PL4NL9XE9Y'
                head.appendChild(script);
                document.removeEventListener('scroll', analyticsOnScroll);
            };
            document.addEventListener('scroll', analyticsOnScroll);
        </script>
        
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
    
            gtag('config', 'G-PL4NL9XE9Y');
        </script>

    <script>
    (function(){if(!window.chatbase||window.chatbase("getState")!=="initialized"){window.chatbase=(...arguments)=>{if(!window.chatbase.q){window.chatbase.q=[]}window.chatbase.q.push(arguments)};window.chatbase=new Proxy(window.chatbase,{get(target,prop){if(prop==="q"){return target.q}return(...args)=>target(prop,...args)}})}const onLoad=function(){const script=document.createElement("script");script.src="https://www.chatbase.co/embed.min.js";script.id="Y3fNpmh33kuFvlzpLrSF_";script.domain="www.chatbase.co";document.body.appendChild(script)};if(document.readyState==="complete"){onLoad()}else{window.addEventListener("load",onLoad)}})();
    </script>
    </body>
</html>