---
title: 'Top-Rated Vermont Web Design Company | Esker Designs Reviews'
description: "Award-winning Vermont web design and development for small businesses. See why our clients across Burlington, Montpelier, and beyond trust Esker Designs to build custom, hand-coded websites that deliver results."
preloadImg: '/assets/images/logo.png'
permalink: 'reviews/'

---

{% extends "layouts/base.html" %}

{% block head %}
    <script defer src="https://cloud.umami.is/script.js" data-website-id="ad4f603c-adc2-4df0-8440-601f99120b46"></script>
    <link rel="stylesheet" href="/assets/css/FAQ.css" media="print" onload="this.media='all'; this.onload=null;">
    <noscript>
        <link rel="stylesheet" href="/assets/css/FAQ.css" />
    </noscript>
{% endblock %}

{% block body %}



<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Reviews</h1>
    <svg class="cs-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ffffff" fill-opacity="1" d="M0,96L48,117.3C96,139,192,181,288,218.7C384,256,480,288,576,304C672,320,768,320,864,304C960,288,1056,256,1152,208C1248,160,1344,96,1392,64L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
    <svg class="cs-wave cs-dark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#061521" fill-opacity="1" d="M0,96L48,117.3C96,139,192,181,288,218.7C384,256,480,288,576,304C672,320,768,320,864,304C960,288,1056,256,1152,208C1248,160,1344,96,1392,64L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-245">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Testimonials</span>
            <h2 class="cs-title">Trusted Web Designer for Vermont and Beyond</h2>
            <p class="cs-text">
                We’ve helped small business owners across Vermont and beyond build the websites they’ve always wanted. At Esker Designs, we’re as committed to our clients as they are to their businesses. When you choose to work with us, you’re not just hiring a web design agency — you’re gaining a dedicated partner invested in your success.
            </p>
        </div>
        <ul class="cs-card-group">
            <!-- Review 1 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/quote.jpeg" | resize({ width: 144, height: 144}) %}" loading="lazy" decoding="async" alt="A Photo of a Customer" aria-hidden="true">
                <p class="cs-item-text">
                    “Sam has re-developed a website for the Mad River Path Association. He is great to work with: timely, responsive, intuitive, and creative. Sam solves complex problems with a smile. I have worked with Sam over the past two years and am greatly impressed with his outstanding professional and human capacities.”
                </p>
                <div class="cs-flex-group">
                    <span class="cs-reviewer">
                        Misha Golfman
                        <span class="cs-desc">Executive Director, Mad River Path</span>
                    </span>
                    <span class="cs-rating">5.0</span>
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars-yellow.svg" alt="stars" width="96" height="16">
                </div>
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/jackson.avif" | resize({ width: 144, height: 144}) %}" loading="lazy" decoding="async" alt="A Photo of a Customer" aria-hidden="true" alt="profile picture" width="72" height="72">
                <p class="cs-item-text">
                    “Sam is a very talented designer! He got our website up and running very quickly and is always available!” 
                </p>
                <div class="cs-flex-group">
                    <span class="cs-reviewer">
                        Jackson Wood
                        <span class="cs-desc">Owner, Peak Painting</span>
                    </span>
                    <span class="cs-rating">5.0</span>
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars-yellow.svg" alt="stars" width="96" height="16">
                </div>
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/quote.jpeg" | resize({ width: 144, height: 144}) %}" loading="lazy" decoding="async" alt="A Photo of a Customer" aria-hidden="true">
                <p class="cs-item-text">
                    “Highly skilled and professional website designer!”
                </p>
                <div class="cs-flex-group">
                    <span class="cs-reviewer">
                        Nehemiah Wood
                        <span class="cs-desc">Peak Painting</span>
                    </span>
                    <span class="cs-rating">5.0</span>
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars-yellow.svg" alt="stars" width="96" height="16">
                </div>
            </li>
        </ul>
        <ul class="cs-card-group">
            <!-- Review 1 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/cameron.webp" | resize({ width: 144, height: 144}) %}" loading="lazy" decoding="async" alt="A Photo of a Customer" aria-hidden="true">
                <p class="cs-item-text">
                    “Sam has done a fantastic job with web design and online ranking of my business! His rates were affordable and his customer service is incredible. Very easy to work with and has the heart of a teacher.”
                </p>
                <div class="cs-flex-group">
                    <span class="cs-reviewer">
                        Cameron Shatswell
                        <span class="cs-desc">Owner, Peak Pressure <br> Wash</span>
                    </span>
                    <span class="cs-rating">5.0</span>
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars-yellow.svg" alt="stars" width="96" height="16">
                </div>
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/moxie.webp" | resize({ width: 144, height: 144}) %}" loading="lazy" decoding="async" alt="A Photo of a Customer" aria-hidden="true" alt="profile picture" width="72" height="72">
                <p class="cs-item-text">
                    “Esker shows great awareness to detail, works collaboratively, and delivers a website to suit your needs. I highly recommend Esker Designs for small businesses who want to work with a real person, get real time tech support, and work alongside someone to cultivate their brand in the digital world!” 
                </p>
                <div class="cs-flex-group">
                    <span class="cs-reviewer">
                        Moxie Craig
                        <span class="cs-desc">Owner, Bareroots Counseling</span>
                    </span>
                    <span class="cs-rating">5.0</span>
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars-yellow.svg" alt="stars" width="96" height="16">
                </div>
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/amber.webp" | resize({ width: 144, height: 144}) %}" loading="lazy" decoding="async" alt="A Photo of a Customer" aria-hidden="true">
                <p class="cs-item-text">
                    “Sam was fantastic to work with. He has an incredible eye for design and captured exactly what I wanted my website to look like. He has streamlined systems that allow for easy collaboration throughout the process and he was quick to respond throughout the editing stage. I appreciate the option for Sam to make changes to my website as my business grows and shifts. If you're looking for someone to really capture the essence of you and your business, look no further!”
                </p>
                <div class="cs-flex-group">
                    <span class="cs-reviewer">
                        Amber Banta
                        <span class="cs-desc">Owner, Alpenglow Counseling</span>
                    </span>
                    <span class="cs-rating">5.0</span>
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars-yellow.svg" alt="stars" width="96" height="16">
                </div>
            </li>
        </ul>
        <ul class="cs-card-group">
            <!-- Review 1 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/susan.png" | resize({ width: 144, height: 144}) %}" loading="lazy" decoding="async" alt="A Photo of a Customer" aria-hidden="true">
                <p class="cs-item-text">
                    “Sam helped us launch a website for our not for profit. Sam asked questions to understand our organization and our goals, made himself very available, and worked quickly and effectively. We are very grateful for his help.”
                </p>
                <div class="cs-flex-group">
                    <span class="cs-reviewer">
                        Susan Bauchner
                        <span class="cs-desc">Volunteer, MRVIC</span>
                    </span>
                    <span class="cs-rating">5.0</span>
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars-yellow.svg" alt="stars" width="96" height="16">
                </div>
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/james.png" | resize({ width: 144, height: 144}) %}" loading="lazy" decoding="async" alt="A Photo of a Customer" aria-hidden="true" alt="profile picture" width="72" height="72">
                <p class="cs-item-text">
                    “Sam was amazing to work with! Our site turned out fantastic and we're actually showing up in Google searches now. The unlimited edits and website management is a HUGE plus as well. Thanks again!” 
                </p>
                <div class="cs-flex-group">
                    <span class="cs-reviewer">
                        James Shahan
                        <span class="cs-desc">Ski Instructor</span>
                    </span>
                    <span class="cs-rating">5.0</span>
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars-yellow.svg" alt="stars" width="96" height="16">
                </div>
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/ace.png" | resize({ width: 144, height: 144}) %}" loading="lazy" decoding="async" alt="A Photo of a Customer" aria-hidden="true">
                <p class="cs-item-text">
                    “Sam is AMAZING at what he does!!!”
                </p>
                <div class="cs-flex-group">
                    <span class="cs-reviewer">
                        Ace Connoly
                        <span class="cs-desc">Owner, Dream Home Services</span>
                    </span>
                    <span class="cs-rating">5.0</span>
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars-yellow.svg" alt="stars" width="96" height="16">
                </div>
            </li>
        </ul>
        <ul class="cs-card-group">
            <!-- Review 1 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/jackson.png" | resize({ width: 144, height: 144}) %}" loading="lazy" decoding="async" alt="A Photo of a Customer" aria-hidden="true">
                <p class="cs-item-text">
                    “Get your websites made here!”
                </p>
                <div class="cs-flex-group">
                    <span class="cs-reviewer">
                        Jackson Chastain
                        <span class="cs-desc">Owner, Chastain Property Maintenance</span>
                    </span>
                    <span class="cs-rating">5.0</span>
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars-yellow.svg" alt="stars" width="96" height="16">
                </div>
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/quote.jpeg" | resize({ width: 144, height: 144}) %}" loading="lazy" decoding="async" alt="A Photo of a Customer" aria-hidden="true" alt="profile picture" width="72" height="72">
                <p class="cs-item-text">
                    “Extremely professional service. Sam built me a stunning website. He was timely, professional, and skillful at an affordable rate.” 
                </p>
                <div class="cs-flex-group">
                    <span class="cs-reviewer">
                        Tye Martin
                        <span class="cs-desc">Community Member, Warren VT</span>
                    </span>
                    <span class="cs-rating">5.0</span>
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars-yellow.svg" alt="stars" width="96" height="16">
                </div>
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/quote.jpeg" | resize({ width: 144, height: 144}) %}" loading="lazy" decoding="async" alt="A Photo of a Customer" aria-hidden="true">
                <p class="cs-item-text">
                    “Sam did such a great job on Blueberry Lake's website! We are super happy with how it turned out, and he was able to help us out on short notice, which was a major plus!”
                </p>
                <div class="cs-flex-group">
                    <span class="cs-reviewer">
                        Charlotte Robinson
                        <span class="cs-desc">Blueberry Lake XC SKi Center</span>
                    </span>
                    <span class="cs-rating">5.0</span>
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars-yellow.svg" alt="stars" width="96" height="16">
                </div>
            </li>
        </ul>
    </div>
</section>

                                
{% endblock %}