---
title: 'Vermont Website Design for Small Businesses | Esker Designs, Warren, Vermont'
description: 'We are a full-service Vermont website design company offering 100% hand-coded websites starting at $175/mo. We specialize in custom designs for small businesses, nonprofits, and institutions in Vermont and beyond.'
preloadImg: '/assets/images/logo.webp'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}

<!-- Critical Resources -->
<link rel="stylesheet" href="/assets/css/critical.css">
<link rel="stylesheet" href="/assets/css/local.css"
    media="print" onload="this.media='all'; this.onload=null;">
<noscript>
    <link rel="stylesheet" href="/css/local.css">
</noscript>

<!-- Preload Critical Images -->
<link rel="preload" as="image" href="/assets/images/hero-mockup-v3.webp" fetchpriority="high">
<link rel="preload" as="image" href="{% getUrl "/assets/images/hero-dark-v2.webp" | resize({width: 1177, height: 366}) | webp %}" fetchpriority="high">

<script defer src="https://cloud.umami.is/script.js" data-website-id="ad4f603c-adc2-4df0-8440-601f99120b46"></script>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-855">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Welcome to Esker Designs</span>
            <h2 class="cs-title">
                A Vermont Small Business Website Design Agency 
            </h2>
            <p class="cs-text">
                Get a website designed to attract customers, drive business, and impress —
                all without the burden of upfront costs. We offer 100% hand-coded websites, starting at just $175/month.
            </p>
            <a href="/contact/" class="cs-button-solid" data-umami-event="Hero Contact">Get a Quote</a>
        </div>
        <!--Hero Image-->
        <picture class="cs-picture">
            <!--Mobile-->
            <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/hero-mockup-v3.webp' | resize({width: 450, height: 281}) | webp %}">
            <!--Tablet-->
            <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/hero-mockup-v3.webp' | resize({width: 1656, height: 968}) | webp %}">
            <img aria-hidden="true" decoding="async" src="{% getUrl '/assets/images/hero-mockup-v3.webp' | resize({width: 1656, height: 968}) | webp %}" alt="therapy" width="900" height="562">
            </picture>
    </div>
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
    <svg class="cs-wave desktop" fill="none" preserveAspectRatio="none" viewBox="0 0 1920 500" xmlns="http://www.w3.org/2000/svg">
        <path d="M251.463 378.438C126.937 315.555 47.343 253.833 0 209.721V501h1920V0c-356.51 157.88-717.07 312.544-986.268 407.584-269.195 95.039-457.636 84.299-682.269-29.146Z" fill="#fff"/>
    </svg>    
    <svg class="cs-wave mobile" fill="none" preserveAspectRatio="none" viewBox="0 0 1920 760" xmlns="http://www.w3.org/2000/svg" height="990" width="1920">
        <g clip-path="url(#a)">
            <path d="M251.463 378.438C126.937 315.555 47.343 253.833 0 209.721V501h1920V0c-356.51 157.88-717.07 312.544-986.268 407.584-269.195 95.039-457.636 84.299-682.269-29.146Z" fill="#fff"/>
        </g>
        <path d="M0 498h1920v492H0z" fill="#fff"/>
        <defs>
            <clipPath id="a">
                <path d="M0 0h1920v501H0z" fill="#fff"/>
            </clipPath>
        </defs>
    </svg>
    <img alt="treeline" decoding="async" height="370" src="{% getUrl "/assets/images/hero-dark-v2.webp" | resize({width: 1177, height: 366}) | webp %}" width="1199" aria-hidden="true" id="trees" class="cs-wave cs-dark desktop" loading="lazy">
    
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-966">
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Website Design Services for Small Businesses in Vermont</span>
            <h2 class="cs-title">What We Do for You</h2>
            <p class="cs-text">
                We’re committed to handcrafting superior websites for small business owners in the Mad River Valley, Vermont, and beyond. You deserve a website that shows what makes you special and helps your business thrive.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/design.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Custom Website Development</h3>
                <p class="cs-item-text">
                    No page builders or WordPress here — every website we create is hand-coded
                    from scratch. We work closely with you to design a site that perfectly captures
                    what makes your business unique.
                </p>
                <a href="/service/" class="cs-link">Read More</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/hero-dark-v2.webp" | resize({width: 1177, height: 366}) | webp %}" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/seo.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Search Engine Optimization (SEO)</h3>
                <p class="cs-item-text">
                    We have professional copywriters create your content to make sure your website is easy for search engines to find. That way, more people
                    can discover your business.
                </p>
                <a href="/service/" class="cs-link">Read More</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/hero-dark-v2.webp" | resize({width: 1177, height: 366}) | webp %}" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/mobile.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Mobile First Design</h3>
                <p class="cs-item-text">
                    Most internet browsing is done on phones. That's why we build your site for smaller screens first, 
                    keeping things quick and clean. No extra code weighing things down – 
                    just a smooth experience, no matter your device.
                </p>
                <a href="/service/" class="cs-link">Read More</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/hero-dark-v2.webp" | resize({width: 1177, height: 366}) | webp %}" alt="hair cut" width="480" height="425">
                </picture>
            </li>
        </ul>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/web-management.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Website Management</h3>
                <p class="cs-item-text">
                    Enjoy a personalized, hand-coded website that ranks higher in search
                    engines, loads quickly, and meets modern web design standards — all
                    without having to manage it yourself.
                </p>
                <a href="/service/" class="cs-link">Read More</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/hero-dark-v2.webp" | resize({width: 1177, height: 366}) | webp %}" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/lightning.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Lightning Fast Page Speeds</h3>
                <p class="cs-item-text">
                    We make sure your website is easy for search engines to find so more people
                    can discover your business. Plus, your site will look great and work smoothly
                    on all devices — phone, tablet, or computer.
                </p>
                <a href="/service/" class="cs-link">Read More</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/hero-dark-v2.webp" | resize({width: 1177, height: 366}) | webp %}" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/vermont.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Vermont Born & Built</h3>
                <p class="cs-item-text">
                    Our development team works right here in Vermont – not outsourced overseas or scattered across time zones. When you need us, we're just down the road.
                </p>
                <a href="/service/" class="cs-link">Read More</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/hero-dark-v2.webp" | resize({width: 1177, height: 366}) | webp %}" alt="hair cut" width="480" height="425">
                </picture>
            </li>
        </ul>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1362">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/sam-portrait.jpg' | resize({width: 343, height: 520, position: 'bottom' }) | webp %}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/sam-portrait.jpg' | resize({width: 396, height: 841, position: 'bottom' }) | webp %}">
                <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/sam-portrait.jpg' | resize({width: 396, height: 841, position: 'bottom' }) | webp %}" alt="people" width="605" height="690">
            </picture>
            <div class="cs-box">
                <img class="cs-box-icon" loading="lazy" decoding="async" src="{% getUrl "/assets/images/logo.webp" | resize({ width: 75, height: 75}) | webp %}" alt="people" width="60" height="60">
                <div>
                    <span class="cs-desc">
                        Sam Robinson
                    </span>
                    <p class="cs-text">Owner & Developer</p>
                </div>
            </div>
        </div>
        <div class="cs-content">
            <span class="cs-topper">WHy choose us</span>
            <h2 class="cs-title"><span class="emphasis">$0</span> Down, <span class="emphasis">$175</span> Per Month, Year-Long Minimum Contract</h2>
            <p class="cs-text">
                Launch a professional 5-page website for your business with no upfront costs. Need more? We can always tailor a custom plan to fit your needs. Esker Designs offers affordable web design for small businesses with no hidden fees.
            </p>
            <p class="cs-text">
                You own 100% of your domain and content. Plus, cancel anytime with no fees or complications.
            </p>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/double-check.svg" alt="icon" width="32" height="32">
                        Hosting Fees Included
                    </h3>
                    <p class="cs-item-text">
                        No surprise hosting bills here. Your monthly payment covers everything - one simple fee and we handle the rest.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/double-check.svg" alt="icon" width="32" height="32">
                        24/7 Customer Service
                    </h3>
                    <p class="cs-item-text">
                        Need help at midnight? Our Vermont team actually picks up the phone. Quick help from people who know your business.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/double-check.svg" alt="icon" width="32" height="32">
                        Unlimited Edits
                    </h3>
                    <p class="cs-item-text">
                        Need updates? We'll make changes within 24 hours, as many times as you need. No extra fees - just quick updates when you want them.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/double-check.svg" alt="icon" width="32" height="32">
                        Custom Website Development & Design
                    </h3>
                    <p class="cs-item-text">
                        We spend 40-50 hours crafting your perfect site. Every detail gets our full attention until your website feels exactly right.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/double-check.svg" alt="icon" width="32" height="32">
                        Ongoing Website Maintenance
                    </h3>
                    <p class="cs-item-text">
                        Think of us as your digital handyman. We track performance and make smart tweaks to help you get more customers.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/double-check.svg" alt="icon" width="32" height="32">
                        Better Results
                    </h3>
                    <p class="cs-item-text">
                        Hand-written code means faster sites. Our websites hit 95+ on Google's speed tests, bringing more customers to your business.
                    </p>
                </li>
            </ul>
            <a href="/contact/" data-umami-event="Why Choose" class="cs-button-solid">Get Started</a>
        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1640">
    <div class="cs-container">
        <div class="cs-stats-group">
            <ul class="cs-stats">
                <li class="cs-stat">
                    <span class="cs-number">500K</span>
                    <span class="cs-desc">Lines of Code Written</span>
                </li>
                <li class="cs-stat">
                    <span class="cs-number">100%</span>
                    <span class="cs-desc">Happy Customers</span>
                </li>
                <li class="cs-stat">
                    <span class="cs-number">5/5</span>
                    <span class="cs-desc">Google Reviews</span>
                </li>
            </ul>
            <picture class="cs-picture-2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/speed-test.png' | resize({width: 686, height: 812}) | avif %}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/speed-test.png' | resize({width: 1260, height: 1006}) | avif %}">
                <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/speed-test.png' | resize({width: 1260, height: 1006}) | avif %}" alt="people" width="1260" height="1006">
            </picture>
            <h2 class="cs-title">
                <span class="cs-topper">Page Speed Matters</span>
                Lightning-Fast Websites That Convert
            </h2>
            <p class="cs-text">
                When your website loads instantly, you don't just impress Google - you win customers. Our sites consistently achieve perfect 100/100 speed scores on Google's Page Speed Insights, putting you miles ahead of your competition. While most websites take 3+ seconds to load, ours snap into action in under a second. That's the difference between keeping a customer or losing them to the back button.
            </p>
            <p class="cs-text">
                Speed isn't just a technical metric - it's money in your pocket. Studies show that even a 1-second delay can reduce conversions by 7%. By building your site with clean, efficient code, we ensure you never lose a customer to slow loading times. From instant-load images to blazing-fast checkouts, every millisecond is optimized to keep your visitors engaged and your business growing.
            </p>
            <a href="/contact/" data-umami-event="Stats SBS" class="cs-button-solid">Schedule a Call</a>
        </div>
        <div class="cs-content">
            <span class="cs-topper-2">Vermont Website Design</span>
            <h2 class="cs-title-2">Hand-Coded Sites That Outperform Page Builders</h2>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/speed-test.png' | resize({width: 686, height: 812}) | avif %}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/speed-test.png' | resize({width: 1260, height: 1006}) | avif %}">
                <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/speed-test.png' | resize({width: 1260, height: 1006}) | avif %}" alt="people" width="1260" height="1006">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Projects                    -->
<!-- ============================================ -->

<section id="projects-604">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Featured Work</span>
                <h2 id="first" class="cs-title">Custom Vermont Websites Built From Scratch</h2>
            </div>
            <p class="cs-text">
                No templates. No page builders. Just clean, efficient code that delivers blazing-fast websites for Vermont businesses. Each site is built from the ground up with perfect Google speed scores, ensuring your business stands out in both design and performance.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" data-umami-event="Portfolio 1" href="https://peak-pressurewash.com/">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/peakpressure.png' | webp %}">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/peakpressure.png' | webp %}">
                            <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/peakpressure.png' | webp %}" alt="bathroom" width="413" height="450">
                        </picture>
                        <span class="cs-header">Peak Pressure Wash</span>
                        <p class="cs-item-text">
                            A lightning-fast website built for a premium pressure washing service in Mississippi. Custom-coded with clean design and perfect speed scores to help them stand out in their local market.
                        </p>
                        <span class="cs-number">01</span>
                    </div>
                    <h3 class="cs-h3">Peak Pressure Wash</h3>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" data-umami-event="Portfolio 2" href="https://peakpainting.netlify.app/">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/peakpainting.png'| webp %}">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/peakpainting.png'| webp %}">
                            <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/peakpainting.png' | webp %}" alt="bathroom" width="413" height="450">
                        </picture>
                        <span class="cs-header">Peak Painting</span>
                        <p class="cs-item-text">
                            Hand-coded website for Vermont painters that perfectly captures their attention to detail. Features smooth animations, instant load times, and strong local SEO optimization.
                        </p>
                        <span class="cs-number">02</span>
                    </div>
                    <h3 class="cs-h3">Peak Painting Vermont</h3>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" data-umami-event="Portfolio 3" href="https://barerootscounseling.org/">
                    <div class="cs-info">
                        <picture class="cs-background">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="/assets/images/bareroots.png">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="/assets/images/bareroots.png">
                            <img loading="lazy" decoding="async" src="/assets/images/bareroots.png" alt="bathroom" width="413" height="450">
                        </picture>
                        <span class="cs-header">Bareroots Counseling</span>
                        <p class="cs-item-text">
                            Clean, professional website for a Vermont therapist focusing on accessibility and user experience. Built with HIPAA compliance in mind and perfect Google speed scores.
                        </p>
                        <span class="cs-number">03</span>
                    </div>
                    <h3 class="cs-h3">Bareroots Counseling</h3>
                </a>
            </li>
        </ul>
    </div>
</section>


<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1384">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Vermont Website Design</span>
            <h2 class="cs-title">Fair Prices. Beautiful Websites.</h2>
            <p class="cs-text">
                Need a website that works as hard as you do? We're a Vermont website design team that believes in straightforward pricing and honest work. After helping dozens of local businesses get online, we've learned that good websites don't need expensive price tags – they just need to work right for your business.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">LUMP SUM</span>
                    <span class="cs-price-2">
                        $3500
                    </span>
                    <div class="cs-tag">
                        Hot Deal
                    </div>
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">
                        Design & Development
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        25$/mo hosting
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        $100 fee Per Page after 5
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        +$250 To Add A Blog
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        +$50/mo Unlimited Edits
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check-2.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        24/7 Support
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/cancel.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        Lifetime Updates
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/cancel.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                </ul>
                <a href="/contact/" data-umami-event="Lump Sum" class="cs-button-transparent">Start Today!</a>
            </li>
            <li class="cs-item cs-popular">
                <div class="cs-flex">
                    <span class="cs-package">MONTHLY</span>
                    <span class="cs-price">
                        $175
                        <span class="cs-duration">/Month</span>
                    </span>
                    <div class="cs-tag">
                        Most Popular
                    </div>
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">
                        Design & Development
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Includes Hosting
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        $100 fee Per Page After 5
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        +$250 To Add A Blog
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Unlimited Edits
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        24/7 Support
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Lifetime Updates
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                </ul>
                <a href="/contact/" data-umami-event="Monthly" class="cs-button-transparent">Start Today!</a>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">E-COMMERCE</span>
                    <span class="cs-price-2">
                        $6000
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="/assets/svgs/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">
                        Design & Development
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Custom Shopify Store
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Integrated Shipping
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Shopify Tutorial Walkthrough
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Fully Editable In Shopify CMS
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        +$50/mo Unlimited Edits
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/cancel.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        24/7 Support
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/cancel.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                </ul>
                <a href="/contact/" data-umami-event="Ecommerce" class="cs-button-transparent">Start Today!</a>
            </li>
        </ul>
    </div>
</section>


<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-245">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Testimonials</span>
            <h2 class="cs-title">Trusted Web Designer for Vermont and Beyond</h2>
            <p class="cs-text">
                We’ve helped small business owners across Vermont and beyond build the websites they’ve always wanted. At Esker Designs, we’re as committed to our clients as they are to their businesses. When you choose to work with us, you’re not just hiring a web design agency — you’re gaining a dedicated partner invested in your success.
            </p>
        </div>
        <ul class="cs-card-group">
            <!-- Review 1 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/cameron.webp" | resize({ width: 144, height: 144}) %}" loading="lazy" decoding="async" alt="A Photo of a Customer" aria-hidden="true">
                <p class="cs-item-text">
                    “Sam has done a fantastic job with web design and online ranking of my business! His rates were affordable and his customer service is incredible. Very easy to work with and has the heart of a teacher.”
                </p>
                <div class="cs-flex-group">
                    <span class="cs-reviewer">
                        Cameron Shatswell
                        <span class="cs-desc">Owner, Peak Pressure <br> Wash</span>
                    </span>
                    <span class="cs-rating">5.0</span>
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars-yellow.svg" alt="stars" width="96" height="16">
                </div>
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/moxie.webp" | resize({ width: 144, height: 144}) %}" loading="lazy" decoding="async" alt="A Photo of a Customer" aria-hidden="true" alt="profile picture" width="72" height="72">
                <p class="cs-item-text">
                    “Esker shows great awareness to detail, works collaboratively, and delivers a website to suit your needs. I highly recommend Esker Designs for small businesses who want to work with a real person, get real time tech support, and work alongside someone to cultivate their brand in the digital world!” 
                </p>
                <div class="cs-flex-group">
                    <span class="cs-reviewer">
                        Moxie Craig
                        <span class="cs-desc">Owner, Bareroots Counseling</span>
                    </span>
                    <span class="cs-rating">5.0</span>
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars-yellow.svg" alt="stars" width="96" height="16">
                </div>
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/amber.webp" | resize({ width: 144, height: 144}) %}" loading="lazy" decoding="async" alt="A Photo of a Customer" aria-hidden="true">
                <p class="cs-item-text">
                    “Sam was fantastic to work with. He has an incredible eye for design and captured exactly what I wanted my website to look like. He has streamlined systems that allow for easy collaboration throughout the process and he was quick to respond throughout the editing stage. I appreciate the option for Sam to make changes to my website as my business grows and shifts. If you're looking for someone to really capture the essence of you and your business, look no further!”
                </p>
                <div class="cs-flex-group">
                    <span class="cs-reviewer">
                        Amber Banta
                        <span class="cs-desc">Owner, Alpenglow Counseling</span>
                    </span>
                    <span class="cs-rating">5.0</span>
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars-yellow.svg" alt="stars" width="96" height="16">
                </div>
            </li>
        </ul>
    </div>
</section>
                                
                                
                                

    {% include 'components/cta.html' %}
{% endblock %}